<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="product">ShoppApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="product">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" routerLink="seller" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider" /></li>
                    </ul>
                </li>
            </ul>
            <div id="categories">
                <ul class="navbar-nav">
                    <li *ngFor="let category of categories" class="nav-item">
                            <a class="nav-link" routerLink="getProuctsByCategoryName/{{ category }}">{{ category }}</a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-center">
    <input id="searchProduct" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)='search()'>Search</button>
</div>
