<div>
  <div *ngFor="let product of products">
    <h1 style="margin-left: 50px">{{ product.productName }}</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img
            src="{{ product.productImage }}"
            alt="Product Image"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div>
            <h2>{{ product.productName }}</h2>
            <h3>Price: ${{ product.price }}.00</h3>
            <p>{{ product.productDescription }}</p>
            <p>Number of items in stock: {{ product.stockAmount }}</p>
            <!-- Jianan's code to plug from here for the frontend to display and update the cart -->
            <a routerLink="/" class="btn btn-primary" style="margin-right: 8px"
              >Add to Cart</a
            >
            <a
              routerLink="/Pages/product-detail/{{ product.productID }}/Cart"
              class="btn btn-outline-success"
              >Buy Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
