/* login.component.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
  }
  
  .login-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-message {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-align: center; /* Centered text */
    padding: 10px 0; /* Padding */
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #45a049;
  }
  
  .register-button {
    background-color: #008CBA; /* Blue background */
  }
  
  .register-button:hover {
    background-color: #007bb5;
  }
  