<div>
  <p>Search by vendor ID</p>
  <input
    id="searchID"
    class="form-control mr-sm-2"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <div>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="search()">
      Search
    </button>
  </div>
  <table class="table datatable">
    <thead>
      <tr>
        <th>
          <b>ProductID</b>
        </th>
        <th>Product Name</th>
        <th>Category Name</th>
        <th>Commission</th>
        <th>Stock Amount</th>
        <th>Price</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td contenteditable="false">{{ product.productID }}</td>
        <td contenteditable="false">{{ product.productName }}</td>
        <td contenteditable="false">
          {{ categories[product.categoryID].categoryName }}
        </td>
        <td contenteditable="false">
          {{ categories[product.categoryID].commissionPercentage }}
        </td>
        <td contenteditable="false">{{ product.stockAmount }}</td>
        <td contenteditable="false">{{ product.price }}</td>
        <td>
          <button class="btn" (click)="showImagePopup(product.productImage)">
            View Image
          </button>
        </td>
        <td>
          <button class="btn" (click)="OpenDialog(product.productID)">
            Update
          </button>
          <a
            class="btn btn-outline-dark mt-auto"
            [routerLink]="['/delete', product.productID]"
            >Delete</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
