<div id="modal">
  <h2>
    Editing Mode
    <h2>
      <button class="close" aria-label="Close" (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
      </button>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Product ID:</th>
            <td contenteditable="true" id="productID">
              {{ product.productID }}
            </td>
          </tr>
          <tr>
            <th scope="row">Product Name:</th>
            <td contenteditable="true" id="productName">
              {{ product.productName }}
            </td>
          </tr>
          <tr>
            <th scope="row">Category ID:</th>
            <td contenteditable="true" id="categoryID">
              {{ product.categoryID }}
            </td>
          </tr>
          <tr>
            <th scope="row">Category Name:</th>
            <td contenteditable="true" id="categoryName">
              {{ categoriesArray[product.categoryID].categoryName }}
            </td>
          </tr>
          <tr>
            <th scope="row">Commission:</th>
            <td contenteditable="true" id="commission">
              {{ categoriesArray[product.categoryID].commissionPercentage }}
            </td>
          </tr>
          <tr>
            <th scope="row">Stock Amount:</th>
            <td contenteditable="true" id="stockAmount">
              {{ product.stockAmount }}
            </td>
          </tr>
          <tr>
            <th scope="row">Price:</th>
            <td contenteditable="true" id="price">{{ product.price }}</td>
          </tr>
          <tr>
            <th scope="row">Product Description:</th>
            <td contenteditable="true" id="productDescription">
              {{ product.productDescription }}
            </td>
          </tr>
          <tr>
            <th scope="row">Image:</th>
            <td>
              <img
                src="{{ product.productImage }}"
                alt="Product Image"
                width="100"
                height="100"
              />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="btn btn-primary" (click)="updateDialog()">
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </h2>
  </h2>
</div>
